@import "~/src/scss/index";

.add-song-form {
  &__file {
    align-items: center;
    background-color: $background-secondary;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 14px;

    &:hover {
      cursor: pointer;

      i,
      span {
        opacity: 0.6;
      }
    }

    &.error {
      border: 1px solid $danger;
    }

    i {
      align-items: center;
      display: flex;
      font-size: 40px;
      justify-content: center;
      margin-right: 20px;
    }

    > div > p {
      color: $font-grey;
      margin: 0;

      > span {
        color: $font-light;
      }

      &.song-name {
        color: $font-light;
      }
    }
  }
}
