@import "~/src/scss/index";

.slider {
  &__item {
    cursor: pointer;
    padding: 0 10px;

    img {
      object-fit: cover;
      width: 100%;
    }

    h3 {
      color: $font-light;
      font-size: 12px;
      font-weight: 100;
      margin-top: 10px;
    }

    &-block-play {
      position: relative;

      &:hover {
        > i.icon {
          display: flex;
        }
      }

      > i.icon {
        align-items: center;
        background-color: #000;
        display: none;
        font-size: 35px;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: 0;
        opacity: 0.7;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
