@import "~/src/scss/index";

.footer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 20px;

  &__left {
    align-items: center;
    display: flex;
    width: 20%;
  }

  .ui.image {
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  &__center {
    width: 60%;
  }

  &__right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 20%;

    .ui.input {
      align-items: center;
      display: flex;

      input {
        width: 150px;
      }

      i.icon {
        align-items: center;
        display: flex;
        margin-right: 10px !important;
      }
    }
  }
}
